#root {
  margin: 0 auto;
}

.App {
  background-color: #02040F;
  display: grid;
  grid-template-columns: 5fr 3fr;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.App-prompt {
  padding: 2rem 5rem;
}